---
import Resume from "../../layouts/Resume.astro";
import { getEntry } from "astro:content";

const prom = await getEntry("resume", "data");

const data = prom.data;

import "../../styles/iiitd.css";
---

<Resume title="Jaideep's Resume | IIITD Resume">
    <section class="sheet padding-10mm">
        <img src="jaideep.jpg" class="profile-pic" alt="" />
        <img src="iiitd.png" class="iiitd-logo" alt="" />
        <div id="page1">
            <div id="header">
                <h1 id="name">{data.bio.name}</h1>
                <p>
                    <span id="roll-number">{data.bio.roll_number}</span> | <strong
                        >Email:</strong
                    >
                    <a id="email" href=`mailto:${data.bio.email}`
                        >{data.bio.email}</a
                    >
                </p>
                <p>
                    <strong>GitHub:</strong>
                    <a id="github" target="_blank" href={data.bio.github.url}
                        >{`@${data.bio.github.uname}`}</a
                    > |{" "}<strong>LinkedIn:</strong>
                    <a
                        id="linkedin"
                        target="_blank"
                        href={data.bio.linkedin.url}
                        >{`@${data.bio.linkedin.uname}`}</a
                    >
                </p>
                <p>
                    <strong>DOB:</strong>
                    <span id="dob">{data.bio.dob}</span>{" "}|{" "}<strong
                        >Website:</strong
                    >
                    <a id="website" target="_blank" href={data.bio.website.link}
                        >{data.bio.website.name}</a
                    >
                </p>
            </div>
            <div id="education" class="section">
                <h3 class="section-title">Education</h3>
                {
                    data.education.map((item) => {
                        return (
                            <div class="section-element">
                                <div class="left">
                                    <p>
                                        <strong>{item.institution}</strong>
                                    </p>
                                    <p>{item.degree}</p>
                                    <p>{item.duration}</p>
                                </div>
                                <div class="right">
                                    <p>
                                        <strong>
                                            {item.grade.split(":")[0]}:
                                        </strong>
                                        {item.grade.split(":")[1]}
                                    </p>
                                    <p>{item.note ? item.note : ""}</p>
                                </div>
                            </div>
                        );
                    })
                }
            </div>
            <div id="skills" class="section">
                <h3 class="section-title">Skills</h3>
                <div id="skill-grid">
                    {
                        data.skills.map((item) => {
                            return (
                                <div class="grid-row">
                                    <div class="grid-item">
                                        <strong>{item.title}</strong>
                                    </div>
                                    <div class="grid-item">{item.value}</div>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
            <div id="work-experience" class="section">
                <h3 class="section-title">Work Experience</h3>
                {
                    data.work_experience.map((item) => {
                        return (
                            <div class="section-element">
                                <div class="heading">
                                    <div class="left">
                                        <p>
                                            <strong>
                                                {item.title} | {item.company}
                                            </strong>
                                            {item.links &&
                                                item.links.map((i) => {
                                                    return (
                                                        <span>
                                                            |{" "}
                                                            <a href={i.link}>
                                                                {
                                                                    i.name.split(
                                                                        " "
                                                                    )[0]
                                                                }
                                                            </a>
                                                            {i.name.split(
                                                                " "
                                                            )[1]
                                                                ? i.name.split(
                                                                      " "
                                                                  )[1]
                                                                : ""}
                                                        </span>
                                                    );
                                                })}
                                        </p>
                                        <p>{item.subtitle}</p>
                                    </div>
                                    <div class="right">
                                        <p>{item.duration}</p>
                                    </div>
                                </div>
                                <ul>
                                    {item.tech_stack && (
                                        <li>
                                            <strong class="underline">
                                                Tech Stack:
                                            </strong>{" "}
                                            {item.tech_stack}
                                        </li>
                                    )}
                                    {item.bullets.map((i) => (
                                        <li>{i}</li>
                                    ))}
                                </ul>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </section>
    <section class="sheet padding-10mm">
        <div id="page2">
            <div id="projects" class="section">
                <h3 class="section-title">Projects</h3>
                {
                    data.projects.map((item) => {
                        let projectLinks = "";
                        if (item.links)
                            item.links.map((i) => {
                                projectLinks += ` | <a href='${i.link}'>${
                                    i.name.split(" ")[0]
                                }</a> ${
                                    i.name.split(" ")[1]
                                        ? i.name.split(" ")[1]
                                        : ""
                                }`;
                            });

                        return (
                            <div class="section-element">
                                <div class="heading">
                                    <div class="left">
                                        <p>
                                            <strong>{item.title}</strong>
                                            {item.links &&
                                                item.links.map((i) => {
                                                    return (
                                                        <span>
                                                            {" "}
                                                            |{" "}
                                                            <a href={i.link}>
                                                                {
                                                                    i.name.split(
                                                                        " "
                                                                    )[0]
                                                                }
                                                            </a>{" "}
                                                            {i.name.split(
                                                                " "
                                                            )[1]
                                                                ? i.name.split(
                                                                      " "
                                                                  )[1]
                                                                : ""}
                                                        </span>
                                                    );
                                                })}{" "}
                                            <em>
                                                {item.note ? item.note : ""}
                                            </em>
                                        </p>
                                        <p>{item.subtitle}</p>
                                    </div>
                                    <div class="right">
                                        <p>{item.duration}</p>
                                        <p>
                                            {item.team_size === 1
                                                ? "Individual"
                                                : "Team Size: " +
                                                  item.team_size}
                                        </p>
                                    </div>
                                </div>
                                <ul>
                                    {item.tech_stack && (
                                        <li>
                                            <strong class="underline">
                                                Tech Stack:
                                            </strong>{" "}
                                            {item.tech_stack}
                                        </li>
                                    )}
                                    {item.bullets.map((i) => {
                                        return <li>{i}</li>;
                                    })}
                                </ul>
                            </div>
                        );
                    })
                }
            </div>
            <div id="por" class="section">
                <h3 class="section-title">Positions of Responsibility</h3>
                <div id="por-grid">
                    {
                        data.leadership.map((item) => {
                            return (
                                <div class="grid-row">
                                    <ul class="grid-item">
                                        <li>{item.position}</li>
                                    </ul>
                                    <span class="grid-item duration">
                                        {item.duration}
                                    </span>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
            <div id="awards" class="section">
                <h3 class="section-title">Awards and Achievements</h3>
                <ul id="awards-list">
                    {
                        data.achievements.map((item) => {
                            return <li>{item}</li>;
                        })
                    }
                </ul>
            </div>
            <div id="interests" class="section">
                <h3 class="section-title">Interests and Hobbies</h3>
                <ul id="interests-list">
                    {
                        data.interests.map((item) => {
                            return <li>{item}</li>;
                        })
                    }
                </ul>
            </div>
            <div>
                <p>
                    <strong>Declaration:</strong> The above information is correct
                    to the best of my knowledge.
                </p>
                <p id="signature">{data.bio.name}</p>
                <p id="last-updated">Date: {data.bio.last_updated}</p>
            </div>
        </div>
    </section>
</Resume>
