---
import { Markdown } from '@astropub/md';
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import Resume from "../layouts/Resume.astro";

import { getEntry } from "astro:content";
import ResumeSection from "../components/ResumeSection.astro";

const prom = await getEntry("resume", "data");

const data = prom.data;
const education = data.education[0];
---

<Resume title="Jaideep Guntupalli's Resume">
    <section class="sheet padding-10mm">
        <Header name="Jaideep Guntupalli" logo="favicon.png" role="Full Stack Web Engineer" updatedAt="Sept 2023" />
        <Links />
        <section class="flex gap-8">
            <ResumeSection title="Experience" className="w-3/5">
                {
                data.work_experience.map((item) => {
                return (
                <article class="flex gap-3">
                    <aside class="flex flex-col items-center gap-2 ">
                        <a target="_blank" rel="noopener" href={ item.homePage ? item.homePage
                            : "https://jaideepguntupalli.com/" }>
                            <img class="w-8 h-8 p-1.5 rounded-md shadow-md print:shadow-none print:outline print:outline-1 print:outline-stone-300" src={item.logo ? ("/logos/" + item.logo)
                                : "favicon.png" } alt=`Logo of ${item.company}` />
                        </a>
                        <div class="w-1 h-full rounded-md opacity-20" style=`background: ${item.theme}` />
                    </aside>
                    <div class="flex-1 space-y-2">
                        <header class="flex-1">
                            <div class="flex items-baseline justify-between">
                                <div class="flex items-center gap-2">
                                    <h3 class="text-xs font-bold text-stone-700">
                                        <a target="_blank" rel="noopener" href={ item.homePage ? item.homePage
                                            : "https://jaideepguntupalli.com/" }>
                                            {item.company}
                                        </a>
                                    </h3>
                                    <p class="text-[0.7rem] text-stone-500">
                                        {item.title} – {item.subtitle}
                                    </p>
                                </div>
                                <span class="text-[0.7rem] text-stone-500">
                                    {item.duration}
                                </span>
                            </div>
                            <div class="flex items-baseline justify-between">
                                <p class="space-x-1 text-[9px] text-stone-500">
                                    {item.links &&
                                    item.links.map((url) => {
                                    return (
                                    <a target="_blank" rel="noopener" href={url.link} class="underline">
                                        {url.name}
                                    </a>
                                    );
                                    })}
                                </p>
                                <span class="text-[9px] text-stone-500">
                                    {`${item.mode} · ${item.location}`}
                                </span>
                            </div>
                        </header>
                        <ul class="space-y-1.5 text-[9.5px] leading-normal text-stone-600">
                            {
                            item.bullets.map((desc) => {
                            return (
                            <li class="list-item list-[circle] ml-3">
                                <Markdown of={desc} />
                            </li>
                            );
                            })}
                        </ul>
                    </div>
                </article>
                );
                })
                }
            </ResumeSection>
            <section class="w-2/5">
                <ResumeSection title="Projects">
                    {data.projects.map((item) =>
                    (
                    <article class="space-y-2">
                        <header class="space-y-1">
                            <h3 class="text-xs font-bold text-stone-700">
                                <a target="_blank" rel="noopener" href={item.links[1].link} class="flex items-center">
                                    {item.title}
                                    <span class="ml-2 font-normal text-stone-500 text-[0.7rem]">
                                        {item.subtitle}
                                    </span></a>
                            </h3>
                            <p class="space-x-1 text-[9px] text-stone-500">
                                {item.links &&
                                item.links.map((url) => {
                                return (
                                <a target="_blank" rel="noopener" href={url.link} class="underline">
                                    {url.name}
                                </a>
                                );
                                })}
                            </p>
                        </header>
                        <ul class="space-y-1.5 text-[9.5px] leading-normal text-stone-600">
                            {item.bullets.map((desc) => {
                            return (
                            <li class="list-item list-[circle] ml-3">
                                <Markdown of={desc} />
                            </li>
                            );
                            })
                            }
                        </ul>
                    </article>)
                    )}
                </ResumeSection>
                <ResumeSection title="Highlights">
                    <ul class="space-y-1.5 text-[9.5px] leading-normal text-stone-700">
                        {data.achievements.map((item) => {
                        return (
                        <li class="space-x-1 list-[circle] ml-3"><Markdown of={item} /> </li>
                        );
                        })
                        }
                    </ul>
                </ResumeSection>
                <ResumeSection title="Skills">
                    <ul class="space-y-1.5 text-[9.5px] leading-normal text-stone-700">
                        {data.skills.map((item) => {
                        return (
                        <li class="space-x-1 list-[circle] ml-3"><strong>{item.title}:</strong> <span>{item.value}</span> </li>
                        );
                        })
                        }
                    </ul>
                </ResumeSection>
            </section>
        </section>
        <ResumeSection title="Education">
            <article class="flex gap-3">
                <a target="_blank" rel="noopener" href="https://iiitd.ac.in">
                    <img class="w-8 h-8 object-contain p-1.5 rounded-md shadow-md print:shadow-none print:outline print:outline-1 print:outline-stone-300" src="/iiitd.png"
                        alt="Logo of Indraprastha Institute of Information Technology, Delhi">
                </a>
                <div class="flex-1">
                    <div class="flex items-baseline justify-between">
                        <h3 class="text-xs font-bold text-stone-700">
                            {education.institution}
                        </h3>
                        <span class="text-[0.7rem] text-stone-500">{education.duration}</span>
                    </div>
                    <div class="flex items-baseline justify-between">
                        <p class="text-[0.7rem] text-stone-500">
                            {education.degree}
                        </p>
                        <span class="text-[9px] text-stone-500">New Delhi, India</span>
                    </div>
                </div>
            </article>
        </ResumeSection>
    </section>
</Resume>